<h2>{{#medalla}}Editar Medalla{{/medalla}}{{^medalla}}Crear Medalla{{/medalla}}</h2>

<form method="POST" action="/editor/medalla/guardar">
    {{#medalla}}
        <input type="hidden" name="id" value="{{ID}}">
    {{/medalla}}

    <label>Nombre:</label>
    <input type="text" name="Nombre" value="{{Nombre}}" required>

    <label>Color (HEX):</label>
    <input type="color" name="Color" value="{{Color}}" required>

    <label>Imagen URL:</label>
    <input type="text" name="Imagen_url" value="{{Imagen_url}}" required>

    <button type="submit">Guardar</button>
</form>
