<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pokedex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script>toastr.options = { "closeButton": true, "progressBar": true, "positionClass": "toast-top-right" }</script>

</head>
<body class="bg-gray-100">
    <header class="bg-red-700 p-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
            
            <span class= "w-12 h-12 pokeball-bg rounded-full border-4 border-gray-800"></span><h1 class="pixel-font text-yellow-300 text-xl drop-shadow-lg" style="text-shadow: 3px 3px 0px #b45309;">POKETRIVIA</h1>
            <nav class="flex gap-4">
    {{#usuario}}
    <a class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded pokemon-border font-bold transition-all" href="/PreguntadosPW2/lobby/base">Inicio</a>
    <a class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded pokemon-border font-bold transition-all" href="/PreguntadosPW2/logout">Cerrar sesión</a>
    {{/usuario}}

    {{^usuario}}
    <a class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded pokemon-border font-bold transition-all" href="/PreguntadosPW2/homeVista">Inicio</a>
    <a  class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded pokemon-border font-bold transition-all" href="/PreguntadosPW2/login/loginForm">Iniciar sesión</a>
    <a  class="bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded pokemon-border font-bold transition-all" href="/PreguntadosPW2/registrarse/registrarseForm">Registrarse</a>
    {{/usuario}}
            </nav>
        </div>
    </header>
    
</body>
</html>

