<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-yellow-300 to-yellow-500 min-h-screen">

<div class="container mx-auto px-6 py-10">
    <h1 class="text-3xl font-bold text-center text-yellow-900 mb-8 flex justify-center items-center gap-2"><?xml version="1.0" encoding="UTF-8"?><svg id="crown-solid" class="w-12 h-12 fill-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="23 7 23 9 22 9 22 10 21 10 21 14 20 14 20 17 19 17 19 19 18 19 18 21 6 21 6 19 5 19 5 17 4 17 4 14 3 14 3 10 2 10 2 9 1 9 1 7 2 7 2 6 4 6 4 7 5 7 5 9 4 9 4 10 5 10 5 11 6 11 6 12 8 12 8 11 9 11 9 9 10 9 10 7 11 7 11 6 10 6 10 4 11 4 11 3 13 3 13 4 14 4 14 6 13 6 13 7 14 7 14 9 15 9 15 11 16 11 16 12 18 12 18 11 19 11 19 10 20 10 20 9 19 9 19 7 20 7 20 6 22 6 22 7 23 7"/></svg> Ranking Entrenadores</h1>

    <table class="w-full text-center bg-white rounded-xl shadow-lg">
        <thead>
        <tr class="bg-yellow-400 text-yellow-900 font-bold">
            <th class="py-3">Posición</th>
            <th class="py-3">Jugador</th>
            <th class="py-3">Mejor Puntaje</th>
        </tr>
        </thead>
        <tbody>
        {{#ranking}}
            <tr class="border-b border-gray-300 hover:bg-gray-100 transition">
                <td class="py-3 font-bold">{{posicion}}°</td>
                <td class="py-3">
                    <a href="/perfil/perfilCompartidoVista?id={{id}}"
                    class="text-gray-700 hover:text-gray-900 font-bold transition-colors cursor-pointer">
                    {{usuario}}
                    </a>
                </td>
                <td class="py-3">{{mejor_puntaje}}</td>
            </tr>
        {{/ranking}}

        {{^ranking}}
            <tr>
                <td colspan="3" class="py-6 text-gray-500 font-bold">
                    ¡Aún no hay resultados!
                </td>
            </tr>
        {{/ranking}}
        </tbody>
    </table>

    <div class="text-center mt-6">
        <a href="/lobby/base"
           class="bg-yellow-900 hover:bg-yellow-800 text-white px-6 py-3 rounded-lg font-bold">
            Volver al Lobby
        </a>
    </div>
</div>
</body>
</html>